*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(230, 230, 230, 0.59);
}
header.header_area {
  background: #1975d5;
  width: 100%;
}

.inline{
  display: inline-block;
}

.top-head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item {
  display: inline-block;
  padding: 15px 36px 15px 36px;
  color: #fff;
  font-size: 14px;
}

.item.phone{
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.item.email{
  float: right;
}

.item.email a{
  color: #fff;
  text-decoration: none;
}

.logo {
  padding-top: 8px;
  padding-left:1.7em;
  font-size: 40px;
  color: #fff;
}

.links li {
  color: #fff;
  list-style: none;
  display: inline-block;
  padding: 20px;
} 

.links li:hover{
  color: #ccc;
}
.title{
  text-align: center;
  padding:15px;
}
.title h1 {
  color:#1975d5;
  font-size: 32px;
  font-weight: 500;
}
.title p {
  color: #666;
  padding: 10px 14px;
  font-style: italic;
  font-size: 15px;
  padding-bottom: 15px;
}

.about-me {
  background: #fff;
  padding: 2em 15em;
  box-shadow: 0px 1px 5px 0px #ccc;
}

.contact-me {
  background: #fff;
  padding: 2em 10em;
  box-shadow: 0px 1px 5px 0px #ccc;
}
.profile-pic{
  width: 10%;
}

.short-bio{
  width: 60%;
}

.profile-pic img {
  width: 19em;
  height: 20em;
  float: left;
  padding-right: 45px;
  background-color: 0px 0px 1px 0px #ccc;
}

.bio h1 {
  padding: 0px 0px 10px 0px;
  font-size: 30px;
}

.bio h4{
  padding:0px 0px 6px 0px;
  font-size:14px;
  font-weight:600;
  color:#333;
}

.name {
  color: #1975d5;
}

.bio p {
  padding: 5px 0px 10px 0px;
  color: #666;
}

.bio th {
  color: #666;
  padding: 3px 0px;
}

.skills {
  padding: 0em 3em;
}

.inline.web-dev {
  width: 40%;
  padding: 0em 7em;
}

.inline.web-dev h3{
  color: #565656;
  padding-bottom: 10px;
}

.skills h3 {
  color: #565656;
}

.progress li {
  list-style: none;
  padding: 0.6em 0em;
}

.progress progress {
  width: 100%;
  margin-top: 7px;
  padding:15px;
}

.mobile-dev {
  width: 40%;
}

.progress label {
  font-weight: 600;
  font-size: 16px;
  color: #666;
}

footer {
  border-top: 1px solid #ccc;
  padding: 2em;
  background: #000;
  color: #fff;
}

footer p {
  font-size: 1.2em;
  padding-left: 7em;
}

.form-item {
  float: left;
  padding-right: 50px;
}

.form-item input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666666;
}

.form-item textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  color: #666;
  border-radius: 10px;
  resize: none;
}

.my-skills {
  padding-bottom: 5em;
}

.form-item h3 {
  padding: 0px 0px 10px 0px;
  font-size: 25px;
}

.form-item {
  width: 40%;
  float: left;
  padding-right: 50px;
}

.form-item button {
  padding: 10px 50px;
  background: #1975d5;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
}

.form-item button:hover {
  background: #61afff;
}

section.gallery {
  background: #fff;
  margin: 2em 2em;
  padding-bottom: 20px;
  padding-top: 20px;
}

section.gallery th h3 {
  font-size: 30px;
  padding: 10px;
}

section.gallery th {
  padding: 19px;
}

section.gallery td {
  padding: 19px;
}

.gallery figure {
  padding: 5px;
  box-shadow: 0px 1px 3px 1px rgba(166, 165, 165, 0.5);
}

.gallery img {
  width: 100%;
  height: 20em;
}

.gallery figcaption {
  padding: 10px;
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 14px;
}

.answer {
  padding: 1em 0em;
}