*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
  height: 100%;
  width: 100%;
  text-align: center;
  padding:2em 0px;
}

header h1{
  text-decoration: underline;
  font-weight: 500;
}

.container {
  padding: 0px 2em;
}

.flag-box {
  border: 1px solid;
  width: 12em;
  height: 8em;
  margin-bottom: 3em;
  margin-right: 1em;
  display: inline-block;
}

.flag {
  width: 100%;
  height: 6em;
  border-bottom: 1px solid;
}

.flag-name {
  padding-top: 3px;
  color:#666;
  text-align: center;
}

/* flag sizes start here */

.small {
  height: 1.5em;
}

.medium {
  height: 2em;
}

.big {
  height: 3em;
}

.full {
  height: 6em;
}
/* flag size end here */


/* flag colors start here */

.green{
  background-color: green;
  width: 100%;
  
}
.red{
  background-color: red;
  width: 100%;
}

.yellow {
  background-color: yellow;
  width: 100%;
}

.dark-blue {
  background-color: rgb(38, 47, 112);
  width: 100%;
}

.light-blue{
  background-color: rgb(65, 160, 216);
  width: 100%;
}

.blue {
  background-color: blue;
  width: 100%;
}

.dark-red {
  background-color: rgb(113, 12, 44);
  width: 100%;
}

.white {
  background-color: white;
  width: 100%;
}

.orange {
  background-color: orange;
  width: 100%;
}

.purple {
  background-color: rgb(197, 25, 133);
  width: 100%;
}


/* flag colors end here */



/* other shapes start here*/

.blue-circle {
  background: blue;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.light-blue-circle {
  background: #2196f3;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.red-circle {
  background: red;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.white-circle {
  background: white;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.grey-circle {
  background: grey;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.six-star{
    width: 0px;
    height: 0px;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 2em solid red;
    position: relative;
}


/* other shapes end here */